[submodule "Dependencies/Glitonea"]
	path = Dependencies/Glitonea
	url = https://github.com/vddCore/Glitonea.git
[submodule "Dependencies/Avalonia.GIF"]
	path = Dependencies/Avalonia.GIF
	url = https://github.com/vddCore/Avalonia.GIF.git
[submodule "Dependencies/Starlight"]
	path = Dependencies/Starlight
	url = https://github.com/vddCore/Starlight.git
